@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pinhole {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.6);
}
